main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.landing__area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.landing__content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    justify-content: center;
    min-height: 60vh;
}

.landing__content h1 {
    max-width: 550px;
    padding: 0 50px;
}

.landing__content h1 span {
    color: #FF0000;
}

.landing__buttons {
    display: flex;
    gap: 30px;
}

.landing__buttons button {
    max-width: 25vw;
    width: 150px;
    height: 50px;
    background-color: #FEECEC;
    border-radius: 15px;
    color: #0B184B;
    font-weight: 600;
}

.landing__buttons button.highlighted {
    background-color: #FF5555;
    color: white;
}

.wave {
    width: 100%;
    margin-bottom: -5px;
}

.fpoo__area, .sop__area {
    background-color: #0B184B;
}

.fpoo__content, .lima__content, .sop__content, .hare__content {
    padding: 10vh clamp(30px, 15vw, 444px);
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.fpoo__area h2, .fpoo__area h3, .sop__area h2, .sop__area h3 {
    color: white;
}

.fpoo__area .content {
    display: flex;
    align-items: center;
    gap: 50px;
}

.content .texts p {
    text-align: left;
    margin-top: 10px;
}

.fpoo__area img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.fpoo__area, .lima__area, .sop__area, .hare__area {
    height: 100%;
    width: 100%;
    padding-top: 10vh;
}

.lima__area .content {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.lima__area .texts > * {
    text-align: left;
}

.lima__area .images {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}

.lima__area .images img {
    width: min(450px, 100%);
    height: 300px;
    object-fit: cover;
}

.sop__area .sop__content {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.sop__area > .texts {
    padding: 0 clamp(30px, 15vw, 444px);
    padding-top: 5vh;
}

.sop__area .sop__content .content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.sop__area img, .sop__area video, .sop__area iframe {
    width: min(450px, 100%);
    object-fit: cover;
}

.hare__area .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    box-shadow: 0 0 25px rgba(0,0,0,0.07);
    padding: 25px;
    border-radius: 15px;
}

.hare__area .content .ti {
    display: flex;
    width: 35%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.hare__area .content img {
    width: 150px;
}

.hare__area .content h3 {
    width: 45%;
}

.hare__area .content p {

    text-align: left;
    width: 65%;
}

@media (max-width: 1024px) {
    .fpoo__area .content, .sop__area .sop__content, .hare__area .content {
        flex-direction: column;
    }

    .hare__area .content .ti, .hare__area .content p {
        width: 100%;
    }

    .lima__area .images {
        flex-direction: column;
    }
}