@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

button, .hare__content .content {
    border: none;
    transition: transform .3s;
}

button:hover, .hare__content .content:hover {
    transform: scale(1.07);
}

h1, h2, h3, h4, h5, h6, span, p, a {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    color: #0B184B;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

p, a {
    font-family: 'Roboto', sans-serif;
    color: #878F9A;
}

a, button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}